spring:
  application:
    name: ezreal-ai-code-generator
  datasource:
    url: jdbc:mysql://localhost:3306/ezreal_ai_code_generator?characterEncoding=utf-8&serverTimezone=Hongkong&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 12345678
  profiles:
    active: local
server:
  port: 8123
  servlet:
    context-path: /api

# springdoc-openapi项目配置
springdoc:
  # 若开启，不使用国际化，可能会导致无法获得@tag和@operation标签的内容
  disable-i18n: true
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.ezreal.ai.code.generator.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

# Redis
redis:
  sdk:
    config:
      host: 127.0.0.1
      port: 6379
      password: ezreal
      pool-size: 10
      min-idle-size: 5
      idle-timeout: 30000
      connect-timeout: 5000
      retry-attempts: 3
      retry-interval: 1000
      ping-interval: 60000
      keep-alive: true

